# Macros
# P  -  Record prefix, e.g. caTools-TEST


record(calc, "$(P):TEST_1") {
	field(VAL,"0")
	field(INPA,"$(P):TEST_1")
	field(CALC,"A+0.1")
	field(SCAN,".1 second")
}

record(ai, "$(P):TEST_1-AI"){
	field(INP, "$(P):TEST_1")
	field(SCAN,".1 second")
	field(EGU, "ds")
}

record(calc, "$(P):CALC"){
	field(INPA, "$(P):CALC")
	field(CALC, "A+1")
	field(VAL,  "1")
}

record(calcout, "$(P):CALC_BI"){
	field(SCAN, "1 second")
	field(INPA, "$(P):TEST_1-BI")
	field(CALC, "!A")
	field(OUT, "$(P):TEST_1-BI PP")
}

record(bi, "$(P):TEST_1-BI"){
	field(VAL,  "1")
	field(ONAM, "On")
	field(ZNAM, "Off")
	field(ZSV,  "NO_ALARM")
	field(OSV,  "MINOR")
}

record(longin, "$(P):TEST_1-LI"){
	field(INP, "$(P):TEST_1")
	field(SCAN,".1 second")
}

record(calc, "$(P):TEST_2") {
	field(VAL,"0")
	field(INPA,"$(P):TEST_2")
	field(CALC,"A+0.1")
	field(SCAN,".1 second")
}
record(calc, "$(P):TEST_3") {
	field(VAL,"0")
	field(INPA,"$(P):TEST_3")
	field(CALC,"A+0.01")
	field(SCAN,".1 second")
}
record(calc, "$(P):TEST_4") {
	field(VAL,"0")
	field(INPA,"$(P):TEST_4")
	field(CALC,"A+10")
	field(SCAN,".1 second")
}

record(stringin, "$(P):TEST_STRING") {
        field(VAL,"Hello world")
 }


record(waveform, "$(P):TEST_WVF-DOUBLE")
{
	field(SCAN, "Passive")
	field(NELM, "10")	
	field(FTVL, "DOUBLE")	
}

record(waveform, "$(P):TEST_WVF-LONG")
{
	field(SCAN, "Passive")
	field(NELM, "10")	
	field(FTVL, "LONG")	
}

record(waveform, "$(P):TEST_WVF-CHAR")
{
	field(SCAN, "Passive")
	field(NELM, "500")	
	field(FTVL, "CHAR")	
	field(PINI, "YES")
}

record(waveform, "$(P):TEST_WVF-SHORT")
{
	field(SCAN, "Passive")
	field(NELM, "10")	
	field(FTVL, "SHORT")	
}

record(waveform, "$(P):TEST_WVF-STRING")
{
	field(SCAN, "Passive")
	field(NELM, "10")	
	field(FTVL, "STRING")	
}

record(waveform, "$(P):TEST_WVF-FLOAT")
{
	field(SCAN, "Passive")
	field(NELM, "10")	
	field(FTVL, "FLOAT")	
}

record(mbbo, "$(P):TEST_MBBO") {
    field(DESC, "Select RF 1 event freq")
    field(VAL,  "1")
    field(PINI, "YES")
    field(ZRVL, "1")
    field(ONVL, "2")
    field(TWVL, "3")
    field(THVL, "4")
    field(FRVL, "6")
    field(FVVL, "10")
    field(SXVL, "12")
    field(SVVL, "20")
    field(EIVL, "40")
    field(NIVL, "100")

    field(ZRST, "100.00 Hz")
    field(ONST, "50.00 Hz")
    field(TWST, "33.33 Hz")
    field(THST, "25.00 Hz")
    field(FRST, "16.66 Hz")
    field(FVST, "10.00 Hz")
    field(SXST, "8.33 Hz")
    field(SVST, "5.00 Hz")
    field(EIST, "2.50 Hz")
    field(NIST, "5")

    field(ONSV, "MAJOR")
}
record(calcout, "$(P):SECONDS"){
	field(DESC, "Counting seconds")
	field(SCAN, "1 second")
	field(CALC, "A<C?(A+B):D")
	field(INPA, "$(P):SECONDS.VAL NPP NMS")
	field(INPB, "1")
	field(INPC, "59")
	field(INPD, "0")
	field(EGU, "Seconds")
	field(OUT, "$(P):MINUTES.B PP")
	field(OOPT, "Transition To Zero")
	field(DOPT, "Use OCAL")
	field(OCAL, "B")
	field(HOPR, "60")
	field(HIGH, "30")
	field(HIHI, "45")
	field(HHSV, "1")
	field(HSV, "1")
}
record(calcout, "$(P):MINUTES"){
	field(DESC, "Counting Minutes")
	field(SCAN, "Passive")
	field(CALC, "A+B")
	field(INPA, "$(P):MINUTES.VAL NPP")
	field(INPB, "0")
	field(EGU, "Minutes")
	field(PINI, "1")
	field(HIGH, "30")
	field(HIHI, "45")
}

record(stringout, "$(P):STRING"){
	field(VAL, "Value field can have only fourty chars.")
	field(DESC, "Description field can have only fourty .")
	field(SCAN,"Passive")
	field(OUT, "ten1234567twenty1234thirty1234forty12345fifty12345sixty12345")
}

record(ao, "$(P):STATIC-AO"){
	field(EGU, "test egu")
	field(VAL, "15")
	field(PINI, "YES")
	field(OUT, "$(P):RecordNameThatIsLongerThanFortyCharsForLongStringTest")
}

record(longin, "$(P):STATIC-LONGIN"){
	field(EGU, "test egu")
	field(VAL, "20")
}

record(motor, "$(P):MOTOR") {
#	field(DTYP,"Soft Channel")
    field(MRES,"1.000")
    field(RRES,"1.000")
    field(ERES,"1.000")
    field(PREC,"3")
    field(DHLM,"45")
    field(DLLM,"-45")
    field(TWV,"5")
    field(RTRY,"0")
    field(EGU,"deg.")
}

record(calc, "$(P):PROC-CALC") {
	field(VAL, "0")
	field(CALC, "VAL+1")
}

record(ai, "$(P):RecordNameThatIsLongerThanFortyCharsForLongStringTest") {

}

record(bo, "$(P):BO") {
	field(ONAM, "0")
	field(ZNAM, "1")
}
